@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
	background-color: #333333;
    overflow: hidden;
}
#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#vidObj {
    min-width: 100%;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}