@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #333333;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	overflow: hidden;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
#content-container {
	margin-left: auto;
	margin-right: auto;
}
#mod-frames {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#mod-header {
	width: 100%;
	height: 13.888888888888889%;
	z-index: 3;
	position: absolute;
	overflow: hidden;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.nomargin-nopadding {
	margin: 0;
	padding: 0;
}
#logo-col {
	width: auto;
}
#title-box {
	height: 95%;
	margin-top: 2px;
	text-align: right;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#modul-title-box, #chapter-title-box {
	height: 49%;
	padding-right: 5px;
	overflow: hidden;
}
#modul-title, #chapter-title {
	margin: 0;
	line-height: 0.9;
	width: 100%;
	height: auto;
}
#mod-control {
	width: 125px;
	height: 60px;
	padding: 5px;
	left: -120px;
	bottom: 0;
	z-index: 2;
	position: absolute;
	display: none;
	opacity: 0;
	overflow: hidden;
}
#btn-control {
	left: 5px;
	height: 50px;
	position: absolute;
}
#btn-control>img {
	height: 100%;
}
#btn-reload {
	left: 60px;
	height: 50px;
	position: absolute;
}
#btn-reload>img {
	height: 100%;
}
#mod-navi {
	z-index: 2;
	position: absolute;
	display: none;
	opacity: 0;
}
.border-top-1px {
	border-top: 1px;
	border-top-color: #EEEEEE;
}
.border-bottom-1px {
	border-bottom: 1px;
	border-bottom-color: #BBBBBB;
}
.col-padding {
	padding-left: 5px;
	padding-right: 5px;
}
.box-ico-menu {
	width: 50px;
	margin: 0 auto;
	position: relative;
}
.ico-menu {
	width: 50px;
	height: auto;
}
.nav-text {
	margin-top: 9px;
	margin-left: 20px;
	font-size: 20px;
}
.header-gap {
	height: 13.888888888888889%;
}
.nav-type-0 {
	width: 60px;
	height: 60px;
	padding: 5px;
	left: -60px;
	bottom: 0;
	z-index: 3;
	overflow: hidden;
}
.btn-menu-0 {
	width: 50px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
#ico-open-0 {
	display: block;
	position: absolute;
}
#ico-close-0 {
	display: none;
	position: absolute;
}
#box-menu-0 {
	width: 315px;
	top: 0;
	left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1;
	opacity: 0;
	position: absolute;
}
#container-menu-0 {
	height: 50px;
	padding-left: 50px;
	padding-right: 10px;
	border-radius: 25px;
	background-color: #2f74e2;
}
.nav-row-0 {
	width: auto;
	height: 50px;
}
.nav-col-0 {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}
.btn-ico-menu-0 {
	top: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
}
.nav-type-1 {
	left: -250px;
	bottom: 0;
	width: 250px;
	height: 100%;
	z-index: 3;
	overflow: show;
}
.btn-menu-1 {
	width: 45px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
}
#ico-open-1 {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
}
#ico-close-1 {
	width: 100%;
	height: auto;
	display: none;
	position: absolute;
}
#box-menu-1 {
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1;
	opacity: 0;
}
#container-menu-1 {
	width: 100%;
	height: 100%;
}
#nav-head-1 {
	width: 300px;
	height: 45px;
}
#box-menu-title-1 {
	width: 250px;
	height: 45px;
	float: left;
	position: relative;
}
#box-menu-btn-1 {
	width: 45px;
	height: 45px;
	margin-left: 5px;
	float: left;
	position: relative;
}
.box-ico-menu-1 {
	width: 30px;
	margin: 7.5px auto 0px auto;
	position: relative;
}
.ico-menu-1 {
	width: 30px;
	height: auto;
}
.col-nav-1 {
	width: 100%;
	height: 45px;
	padding-top: 5px;
	cursor: pointer;
}
.nav-type-2 {
	top: -40px;
	width: 80px;
	height: 80px;
	z-index: 3;
	overflow: show;
}
.btn-menu-2 {
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
#box-menu-2 {
	top: -75px;
	left: -75px;
	width: 230px;
	height: 230px;
	position: absolute;
	z-index: 1;
	opacity: 0;
	display: none;
}
#box-menu-2-bg {
	top: -75px;
	left: -75px;
	width: 230px;
	height: 230px;
	position: absolute;
	z-index: 0;
	opacity: 0;
	background-image: url("../data/image/bg_nav_2.png");
	display: none;
}
.btn-ico-menu-2 {
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	display: block;
}
#btn-menu-2-0 {
	top: 115px;
	left: 7px;
	z-index: 3;
}
#btn-menu-2-1 {
	top: 155px;
	left: 38px;
	z-index: 2;
}
#btn-menu-2-2 {
	top: 180px;
	left: 90px;
	z-index: 2;
}
#btn-menu-2-3 {
	top: 155px;
	left: 142px;
	z-index: 2;
}
#btn-menu-2-4 {
	top: 115px;
	left: 173px;
	z-index: 3;
}
.unused {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: .7;
}
.used {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: 1;
}
.nav-type-3 {
	top: 0px;
	position: absolute;
	overflow: hidden;
}
.btn-menu-3{
	width: 100%;
	z-index: 1;
}
.btn-menu-3>img {
	width: auto;
	height: 100%;
}
.box-ico-menu-3 {
	width: 60px;
	margin: 0 auto;
	position: relative;
}
.ico-menu-3 {
	width: 60px;
	height: auto;
}
#box-menu-3 {
	position: relative;
	height: 0px;
	overflow: hidden;
}
.btn-box-3 {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #06355f;
	position: absolute;
}
.btn-ico-menu-3 {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
#mod-wrapper {
	width: 100%;
	height: 0;
	z-index: 1;
	overflow: hidden;
	position: relative;
}
#blocker {
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background-color: #333333;
	display: none;
	position: absolute;
	z-index: 2;
}
#screenF {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	display: none;
}
#helpF {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	display: none;
}
#indexListF {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	display: none;
}
#glossaryF {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	display: none;
}
#audioF {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	position: absolute;
	display: none;
}
#content-1F {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	position: absolute;
}
#content-2F {
	min-width: 100%;
	width: 10px;
	height: 100%;
	top: 0;
	left: 1024px;
	z-index: -1;
	position: absolute;
}
#mod-sub-btn {
	width: 60px;
	height: 60px;
	padding: 5px;
	opacity: 0;
	display: none;
	overflow: hidden;
	z-index: 3;
}
#btn-sub-open {
	top: 5px;
	left: 5px;
	opacity: 1;
	display: block;
	position: absolute;
}
#btn-sub-close {
	top: 5px;
	left: 5px;
	opacity: 0;
	display: none;
	position: absolute;
}
#mod-subtitle {
	opacity: 0;
	display: none;
	position: absolute;
	z-index: 2;
}
#box-subtitle {
	margin: auto;
}
#btn-subtxt-con {
	width: 30px;
	height: 100%;
	display: none;
	float: right;
}
#btn-subtxt-prev {
	width: 100%;
	height: 50%;
	position: relative;
}
#btn-subtxt-next {
	width: 100%;
	height: 50%;
	position: relative;
}
#btn-subtxt-prev-icn {
	width: 100%;
	top: 0px;
	position: absolute;
}
#btn-subtxt-next-icn {
	width: 100%;
	bottom: 0px;
	position: absolute;
}
#subTxt {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mod-pdf {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	display: none;
}
#pdf-frame-head {
	width: 100%;
	height: 45px;
	background-color: #333333;
}
#pdf-btn-close {
	top: 5px;
	right: 5px;
	position: absolute;
}
#pdf-frame-body {
	width: 100%;
	height: 100%;
	background-color: #888888;
}
#pdfF {
	top: 0;
	left: 0;
	min-width: 100%;
	width: 10px;
	height: 100%;
}
#mod-page {
	left: 50%;
	bottom: -30px;
	width: 62px;
	padding: 5px;
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FFFFFF;
	z-index: 2;
	display: none;
}
#page-text {
	width: 100%;
	margin: 0;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}